
@{
    ViewBag.Title = "timkiem";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}

@using DullStore.Entities
<h2>kết quả tìm kiếm</h2>

@{ List<SanPham> ls = (List<SanPham>)ViewData["TimKiem"];}


<div class="span9">
    <h4>Sản phẩm</h4>
    <ul class="thumbnails">
        @foreach (var item in ls)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/Home/ChitietSP?id=@item.ma"><img src="/Content/Image/@item.linkanh" height="99" width="150"/></a>
                    <div class="caption">
                        <h5>@item.ten</h5>
                        <h4 style="text-align:center">
                            <a class="btn btn-primary" href="#">@item.giaban VNĐ</a>
                            <a class="btn btn-success" href="/ShoppingCart/AddGioHang?id=@item.ma">Thêm vào giỏ hàng</a>
                        </h4>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
